@font-face {
    font-family: ProximaNova;
    src: url("//static/static_vue/medscape-live-web/fonts/ProximaNova/ProximaNova-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url("//static/static_vue/medscape-live-web/fonts/ProximaNova/ProximaNova-Semibold.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: ProximaNova;
    src: url("//static/static_vue/medscape-live-web/fonts/ProximaNova/ProximaNova-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: ProximaNova;
    src: url("//static/static_vue/medscape-live-web/fonts/ProximaNova/ProximaNova-Extrabold.otf") format("opentype");
    font-weight: 900;
}

